.forecast {
  margin: 2rem 0;
  border-radius: 1rem;
}

.forecast-day {
  border: 1px inset #0a3950;
  background-color: #105b81;
  opacity: 0.8;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
}
.forecast-day .forecast-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}
.forecast-day .forecast-item img {
  justify-content: center;
}

.current-weather {
  display: flex;
  flex-direction: row;
  width: 60%;
  background-color: #0f5578;
  opacity: 0.8;
}

.weather {
  padding-top: 2rem;
}

h3 {
  padding: 1rem;
}