@import url("https://fonts.googleapis.com/css2?family=Merienda&family=Special+Elite&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Merienda", cursive;
  color: #6dbdb5;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d4b6a;
  height: 100vh;
}